* {
    box-sizing: border-box;
}

body {
    background-color: #bb9721;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #accde6, #e7eff3, #accde6);
}

header {
    background-color: #bb9721;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', serif;
}

h1 {
    line-height: 200%;
    text-align: center;
    height: 72px;
    margin-bottom: 0;
}

nav {
    font-weight: bold;
    font-size: 20px;
    float: left;
    width: 160px;
    padding: 0%;

}

h3 {
    color: #000033;
}

h2 {
    color: #3399CC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    color: #bb9721;
    font-weight: bold;
}

.bold {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background-color: #FFFFFF;
    margin-left: 170px;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #bb9721;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

main {
    padding: 0em 2em;
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#mancalahomepicture {
    height: 300px;
    background-image: url(images/mancala.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#mancalaobjectivepicture {
    height: 300px;
    background-image: url(images/mancalaobjective.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}


nav a {
    text-decoration: none;
}

nav a:link {
    color: #FFFFFF;
}

nav a:visited {
    color: #C2E0F0;
}

nav a:hover {
    color: #CCCCCC;
}

nav ul {
    padding-left: 1em;
    list-style-type: none;
}

header,
nav,
main,
footer {
    display: block;
}



@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        background-image: none;
    }

    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        box-shadow: none;
    }

    h1 {
        margin: 0;
    }

    nav {
        float: none;
        width: auto;
        padding-top: 0.01em;
        padding-bottom: 0.01em;
        padding-left: 1em;
        padding-right: 1em;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding-right: 2em;
    }

    main {
        padding: 1em;
        margin-left: 0;
        font-size: 90%;
    }

    footer {
        margin: 0;
    }

    #mancalahomepicture {
        margin-left: 0;
    }

    #mancalaobjectivepicture {
        margin-left: 0;
    }


}

@media only all and (max-width: 768px) {
    h1 {
        height: 100%;
        font-size: 1.5em;
        padding-left: 0.3em;
    }

    nav {
        padding: 0;
    }

    nav a {
        display: block;
        padding: 0.2em;
        font-size: 1.1em;
        border-bottom: 1px #330000;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li {
        display: block;
        margin: 0;
        padding: 0;
    }

    main {
        padding-top: 0.1em;
        padding-right: 0.6em;
        padding-bottom: 0.1em;
        padding-left: 0.4em;
    }

    #mancalahomepicture {
        display: none;
    }

    #mancalaobjectivepicture {
        display: none;
    }

    footer {
        padding: 0;
    }


}

table {
    margin: auto;
    width: 90%;
    border: 1px solid #fbd308c4;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
    border: 1px solid #fbd308c4;

}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #e7ce1465;
}